@use "../variables" as *;
@use "../mixins" as *;

.bl {
  position: relative;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    // @include vww(278);
    // transform: translateY(calc(158 / 278 * -100%));
    width: 279px;
    transform: translateY(-65px);
    background: none;

    @include mq(sm) {
      width: calc(279px * 1.2);
      transform: translateY(calc(-65px * 1.2));
    }

    @include mq() {
      width: calc(279px * 1.5);
      transform: translateY(calc(-65px * 1.5));
    }

    @include mq(ll) {
      width: calc(364px * 0.8);
      transform: translateY(-185px);
      left: auto;
      right: 81px;
    }

    @include mq(xl) {
      width: 364px;
      transform: translateY(-289px);
    }

    &.multiply {
      mix-blend-mode: multiply;
      z-index: 1;
    }

    &.normal {
      z-index: 2;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-in {
    padding-top: 90px;
    padding-bottom: 80px;

    @include mq() {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @include mq(ll) {
      padding-top: 6vh;
    }

    @include mq(xl) {
      position: relative;
    }
  }

  &-lead {
    position: relative;
    opacity: 0;

    @include mq(ll) {
      width: 60%;
    }

    &-img {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-top {
      @include mq() {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 66vh - 100px);
        min-height: 136px;
      }

      @include mq(ll) {
        height: calc(100vh - 66vh - 6vh);
        justify-content: flex-start;
      }
    }

    &-ttl {
      @include fs(20);
      @include ls(100);
      font-weight: 700;

      @include mq() {
        @include ls(140);
        @include fs(32);
      }

      @include mq(xl) {
        @include fs(40);
      }

      br.ss {
        display: inline-block;

        @include mq(ss) {
          display: none;
        }
      }
    }

    &-txt {
      margin-top: 25px;

      @include mq() {
        margin-top: 10px;
      }
    }

    &-img {
      margin-top: 30px;
      max-width: 565px;
    }
  }

  &-product {
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    @include mq() {
      flex-direction: row;
      align-items: center;
      margin-top: 96px;
    }

    &-img {
      @include mq() {
        flex: 0 1 auto;
        width: calc(714 / 1440 * 100%);
      }

      @include mq(xl) {
        width: 714px;
        flex: 0 0 auto;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &-cont {
      @include mq() {
        flex: 1 0 auto;
        padding-left: 30px;
        margin-top: 20px;
      }
    }

    &-tagline {
      margin-top: 24px;
      @include fs(16);

      @include mq() {
        margin-top: 0;
        @include fs(20);
      }
    }

    &-ttl {
      display: flex;
      flex-direction: column;

      @include mq(ll) {
        flex-direction: row;
        align-items: baseline;
        margin-top: 15px;
      }

      &-main {
        @include fs(40);
        @include ls(150);
        line-height: 1.1;

        @include mq() {
          line-height: 1.5;
        }
      }

      &-sub {
        @include fs(16);
        font-family: var(--font-rhd);
        @include ls(150);
        font-weight: 400;
        margin-top: 8px;

        @include mq(ll) {
          margin-top: 0;
          margin-left: 1em;
        }
      }

      &-ja {
        margin-top: 4px;
        @include fs(16);

        @include mq() {
          @include ls(150);
        }
      }
    }

    &-price {
      margin-top: 6px;

      @include mq() {
        margin-top: 24px;
      }

      &-num {
        font-family: var(--font-rhd);
        @include fs(20);
        font-weight: 500;

        @include mq() {
          @include fs(32);
        }
      }

      &-txt {
        @include fs(16);

        @include mq() {
          @include fs(20);
        }
      }
    }

    &-info {
      @include fs(16);

      @include mq() {
        @include fs(20);
      }
    }
  }

  .btn {
    margin-top: 20px;

    @include mq() {
      margin-top: 70px;
    }
  }
}
