@use "../variables" as *;
@use "../mixins" as *;

.outro {
  background: $key-yellow;
  color: $white;
  padding-bottom: 88px;

  @include mq() {
    padding-bottom: 96px;
  }

  &-kv {
    padding: 0 20px;
    margin-bottom: 76px;

    @include mq() {
      padding: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
